<!-- <nav class="container-fluid navbar-c fixed-top">
    <div class="row">
        <div class="d-none d-md-block col-nav-c-logo"></div>
        <div class="col-1">
            <a href="#"><img class="logo-c" src="assets/img/foodle.png" alt="logo"></a>
        </div>
        <div class="col-1 col-md-1 navbar ml-auto username-navbar">
            <div class="dropdown navbar-list-c">
                <div class="d-none d-md-block">
                    <a class="nav-username text-uppercase" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Username
                        </a>
                    <div class="dropdown-menu dropdown-menu-center dropdown-custom" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item list-custom" href="#">Збережені меню</a>
                        <a class="dropdown-item list-custom" href="#">Налаштування</a>
                        <a class="dropdown-item list-custom" href="#">Вихід</a>
                    </div>
                </div>
                <div class="d-block d-md-none">
                    <a class="nav-username text-uppercase" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars fa-2x"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-custom dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item list-custom-1" href="#">Збережені меню</a>
                        <a class="dropdown-item list-custom-1" href="#">Налаштування</a>
                        <a class="dropdown-item list-custom-1" href="#">Вихід</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-nav-c-username"></div>
        <div class="d-block d-md-none col-nav-c-username-small"></div>
    </div>
</nav> -->
<!-- <div class="container-fluid topped-margin"></div> -->
<!-- END NAVIGATION -->
<navbar></navbar>

<!-- START CONTENT -->
<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 col-md-2 first-sidebar">
            <div class="choosed-dishes">
                <div class="bigletters">Нове меню:</div>
                <div class="lineunder"></div>
            </div>

            <div class="justify-content-center" id="form-parent">
                <!-- Create Diary Form -->
                <form class="pt-3" (ngSubmit)='saveDiary($event)' id="create-diary-form">
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="save_diary_form.name" value="Some static name" placeholder="Назва меню" name="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" name="date_from" [(ngModel)]="save_diary_form.date_from">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" name="date_to" [(ngModel)]="save_diary_form.date_to">
                    </div>
                    <input type="hidden" name="morning_recipes" [(ngModel)]="save_diary_form.morning_recipes">

                    <input type="hidden" name="lunch_recipes" [(ngModel)]="save_diary_form.lunch_recipes">

                    <input type="hidden" name="dinner_recipes" [(ngModel)]="save_diary_form.dinner_recipes">

                    <input type="hidden" name="supper_recipes" [(ngModel)]="save_diary_form.supper_recipes">

                    <i class="fa fa-minus-circle delete-btn d-none" aria-hidden="true"></i>
                    <h1 id="choose-title">Обрані страви: </h1>
                    <br>
                    <button type="submit" class="btn btn-outline-dark register-button d-block mx-auto" id="save-btn">Зберегти меню</button>
                    <br>
                    <flash-messages></flash-messages>
                </form>
            </div>
        </div>

        <div class="col-12 col-md-9 mx-auto container-fluid">
            <!-- Morning -->
            <div class="row snidanok">
                <div class="col-8">Сніданок
                    <div class="lineunder"></div>
                </div>
                <div class="col-2 snidanok-time">7:00-10:30
                    <div class="lineunder"></div>
                </div>
            </div>

            <div id="carousel-recipes-morning" class="carousel slide row" data-interval="7000" data-ride="carousel">
                <div class="carousel-inner">
                    <ng-container *ngFor="let data of recipes.breakfast; let first=first; let i=index">
                        <div class="carousel-item active" *ngIf="i % 4 === 0" [ngClass]="{active: first}">
                            <div class="d-block w-100" alt="First slide">
                                <div class="row scale-allow">
                                    <div class="col sportmenu-images margin-sportmenu" *ngFor="let recipe of recipes.breakfast|slice:i:i+4">
                                        <div class="row sportmenu-insider">
                                            <img class="sportmenu-bg" src="http://188.166.100.169:8080{{recipe.photo}}" alt="">
                                            <div class="col-6 mh-100 left-col-sportmenu">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-12 salat-na-snidanok">
                                                            <h5 class="recipe-name">{{ recipe.name }}</h5>
                                                        </div>
                                                        <div class="col-12 mt-auto time-preparation"><i class="far fa-clock"></i>{{ recipe.cook_time }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 ml-auto">
                                                <div class="row right-col-sportmenu">
                                                    <div class="col-7 sportmenu-ingridients">
                                                        <div><span class="font-weight-bold">Інградієнти:</span><br>
                                                            <div class="eggs">
                                                                <ul class="list-unstyled">
                                                                    <li *ngFor="let used_ingredients of recipe.used_ingredients">{{ used_ingredients.ingredient.name }},{{ used_ingredients.weight }}г</li>

                                                                </ul>
                                                                <!-- Рецепт{{ used_ingredients.recipe }} -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Add to Diary Event -->
                                                    <div class="col-1 ml-auto sportmenu-plus"><i class="fa fa-plus-circle add-to-diary" aria-hidden="true" (click)="onSelectRecipe($event, 'morning')" attr.data-name="{{ recipe.name }}" attr.data-id="{{ recipe.id }}"></i></div>
                                                    <div class="col-12 sportmenu-preparing">
                                                        <p><span class="font-weight-bold">Приготування:</span><br> {{ recipe.description | truncate }}
                                                            <a class="addToModal" href="#" data-toggle="modal" data-target="#textModal" attr.data-title="{{ recipe.name }}" attr.data-description="{{ recipe.description }}" (click)="addTextToModal($event)">[...]</a></p>
                                                    </div>
                                                    <div class="col-12 mt-auto sportmenu-stars text-right"><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i><i class="fas fa-star-half"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <<<<<<< HEAD <!-- Start Modal -->
                                            ======= >>>>>>> f08600f2f484aec7893da665600c979160e88e74
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <a class="carousel-control-prev strilka-left" href="#carousel-recipes-morning" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next strilka-right" href="#carousel-recipes-morning" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- End of morning recipes -->


            <!-- Lunch -->
            <div class="row snidanok">
                <div class="col-8">Ланч
                    <div class="lineunder"></div>
                </div>
                <div class="col-2 snidanok-time">11:00-13:00
                    <div class="lineunder"></div>
                </div>
            </div>

            <div id="carousel-recipes-lunch" class="carousel slide row" data-interval="7000" data-ride="carousel">
                <div class="carousel-inner">
                    <ng-container *ngFor="let data of recipes.lunch; let first=first; let i=index">
                        <div class="carousel-item active" *ngIf="i % 4 === 0" [ngClass]="{active: first}">
                            <div class="d-block w-100" alt="First slide">
                                <div class="row scale-allow">
                                    <div class="col sportmenu-images margin-sportmenu" *ngFor="let recipe of recipes.lunch|slice:i:i+4">
                                        <div class="row sportmenu-insider">
                                            <img class="sportmenu-bg" src="http://188.166.100.169:8080{{recipe.photo}}" alt="">
                                            <div class="col-6 mh-100 left-col-sportmenu">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-12 salat-na-snidanok">
                                                            <h5 class="recipe-name">{{ recipe.name }}</h5>
                                                        </div>
                                                        <div class="col-12 mt-auto time-preparation"><i class="far fa-clock"></i>{{ recipe.cook_time }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5  ml-auto">
                                                <div class="row right-col-sportmenu">
                                                    <div class="col-7 sportmenu-ingridients">
                                                        <div><span class="font-weight-bold">Інградієнти:</span><br>
                                                            <div class="eggs">
                                                                <ul class="list-unstyled">
                                                                    <li *ngFor="let used_ingredients of recipe.used_ingredients">{{ used_ingredients.ingredient.name }}, {{ used_ingredients.weight }}г</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Add to Diary Event -->
                                                    <div class="col-1 ml-auto sportmenu-plus"><i class="fa fa-plus-circle add-to-diary" aria-hidden="true" (click)="onSelectRecipe($event, 'lunch')" attr.data-name="{{ recipe.name }}" attr.data-id="{{ recipe.id }}"></i></div>
                                                    <div class="col-12 sportmenu-preparing">
                                                        <p><span class="font-weight-bold">Приготування:</span><br>{{ recipe.description }}...</p>
                                                    </div>
                                                    <div class="col-12 mt-auto sportmenu-stars text-right"><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i><i class="fas fa-star-half"></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <a class="carousel-control-prev strilka-left" href="#carousel-recipes-lunch" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next strilka-right" href="#carousel-recipes-lunch" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- End lunch recepies -->


            <!-- Dinner -->
            <div class="row snidanok">
                <div class="col-8">Обід
                    <div class="lineunder"></div>
                </div>
                <div class="col-2 snidanok-time">14:00-16:30
                    <div class="lineunder"></div>
                </div>
            </div>

            <div id="carousel-recipes-dinner" class="carousel slide row" data-interval="7000" data-ride="carousel">
                <div class="carousel-inner">
                    <ng-container *ngFor="let data of recipes.dinner; let first=first; let i=index">
                        <div class="carousel-item active" *ngIf="i % 4 === 0" [ngClass]="{active: first}">
                            <div class="d-block w-100" alt="First slide">
                                <div class="row scale-allow">
                                    <div class="col sportmenu-images margin-sportmenu" *ngFor="let recipe of recipes.dinner|slice:i:i+4">
                                        <div class="row sportmenu-insider">
                                            <img class="sportmenu-bg" src="http://188.166.100.169:8080{{recipe.photo}}" alt="">
                                            <div class="col-6 mh-100 left-col-sportmenu">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-12 salat-na-snidanok">
                                                            <h5 class="recipe-name">{{ recipe.name }}</h5>
                                                        </div>
                                                        <div class="col-12 mt-auto time-preparation"><i class="far fa-clock"></i>{{ recipe.cook_time }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5  ml-auto">
                                                <div class="row right-col-sportmenu">
                                                    <div class="col-7 sportmenu-ingridients">
                                                        <div><span class="font-weight-bold">Інградієнти:</span><br>
                                                            <div class="eggs">
                                                                <ul class="list-unstyled">
                                                                    <li *ngFor="let used_ingredients of recipe.used_ingredients">{{ used_ingredients.ingredient.name }},{{ used_ingredients.weight }}г</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Add to Diary Event -->
                                                    <div class="col-1 ml-auto sportmenu-plus"><i class="fa fa-plus-circle add-to-diary" aria-hidden="true" (click)="onSelectRecipe($event, 'dinner')" attr.data-name="{{ recipe.name }}" attr.data-id="{{ recipe.id }}"></i></div>
                                                    <div class="col-12 sportmenu-preparing">
                                                        <p><span class="font-weight-bold">Приготування:</span><br>{{ recipe.description }}...</p>
                                                    </div>
                                                    <div class="col-12 mt-auto sportmenu-stars text-right"><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i><i class="fas fa-star-half"></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <a class="carousel-control-prev strilka-left" href="#carousel-recipes-dinner" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next strilka-right" href="#carousel-recipes-dinner" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- End dinner recepies -->


            <!-- Supper -->
            <div class="row snidanok">
                <div class="col-8">Вечеря
                    <div class="lineunder"></div>
                </div>
                <div class="col-2 snidanok-time">18:00-20:30
                    <div class="lineunder"></div>
                </div>
            </div>

            <div id="carousel-recipes-supper" class="carousel slide row" data-interval="7000" data-ride="carousel">
                <div class="carousel-inner">
                    <ng-container *ngFor="let data of recipes.supper; let first=first; let i=index">
                        <div class="carousel-item active" *ngIf="i % 4 === 0" [ngClass]="{active: first}">
                            <div class="d-block w-100" alt="First slide">
                                <div class="row scale-allow">
                                    <div class="col sportmenu-images margin-sportmenu" *ngFor="let recipe of recipes.supper|slice:i:i+4">
                                        <div class="row sportmenu-insider">
                                            <img class="sportmenu-bg" src="http://188.166.100.169:8080{{recipe.photo}}" alt="">
                                            <div class="col-6 mh-100 left-col-sportmenu">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-12 salat-na-snidanok">
                                                            <h5 class="recipe-name">{{ recipe.name }}</h5>
                                                        </div>
                                                        <div class="col-12 mt-auto time-preparation"><i class="far fa-clock"></i>{{ recipe.cook_time }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5  ml-auto">
                                                <div class="row right-col-sportmenu">
                                                    <div class="col-7 sportmenu-ingridients">
                                                        <div><span class="font-weight-bold">Інградієнти:</span><br>
                                                            <div class="eggs">
                                                                <ul class="list-unstyled">
                                                                    <li *ngFor="let used_ingredients of recipe.used_ingredients">{{ used_ingredients.ingredient.name }},{{ used_ingredients.weight }}г</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Add to Diary Event -->
                                                    <div class="col-1 ml-auto sportmenu-plus"><i class="fa fa-plus-circle add-to-diary" aria-hidden="true" (click)="onSelectRecipe($event, 'supper')" attr.data-name="{{ recipe.name }}" attr.data-id="{{ recipe.id }}"></i></div>
                                                    <div class="col-12 sportmenu-preparing">
                                                        <p><span class="font-weight-bold">Приготування:</span><br>{{ recipe.description }}...</p>
                                                    </div>
                                                    <div class="col-12 mt-auto sportmenu-stars text-right"><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i><i class="fas fa-star-half"></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <a class="carousel-control-prev strilka-left" href="#carousel-recipes-supper" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next strilka-right" href="#carousel-recipes-supper" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- End supper recepies -->

            <div class="row d-none">
                <div class="col sportmenu-images margin-sportmenu">
                </div>
                <div class="col sportmenu-images">
                </div>
                <div class="col sportmenu-images">
                </div>
                <div class="col-2 sportmenu-images last-sportmenu">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalRecipe"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->