<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/img/foodle.png" alt="Logo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item  text-white text-uppercase text-center">
                    Зроби життя смачнішим!
                </li>
            </ul>
            <ul class="navbar-nav mr-0 d-none" *ngIf="!loggedIn">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a routerLink="/diary" class="dropdown-item" href="#">Збережені меню</a>
                        <a routerLink="/dasboard" class="dropdown-item" href="#">Головна сторінка</a>
                        <a routerLink="/signin" class="dropdown-item" href="#">Вихід</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-0" *ngIf="loggedIn">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a routerLink="/diary" class="dropdown-item" href="#">Збережені меню</a>
                        <a routerLink="/dashboard" class="dropdown-item" href="#">Головна сторінка</a>
                        <a routerLink="/signin" class="dropdown-item" href="#">Вихід</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>