body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
}

.navbar-c {
    background-color: black;
    padding-bottom: 4px;
    padding-top: 4px;
}

.col-nav-c-logo {
    width: 60px;
}

.col-nav-c-username {
    width: 140px;
}

.col-nav-c-username-small {
    width: 20px;
}

.username-navbar {
    margin-right: 10px;
}

.logo-c {
    width: 100px;
    height: 50px;
}

.nav-username {
    text-transform: uppercase;
    color: #D9D9D9;
}

.nav-username:hover {
    text-decoration: none;
    color: #D9D9D9;
}

.dropdown-custom {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border: 0px solid black;
}

.list-custom:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #D9D9D9;
}

.list-custom {
    background-color: rgba(0, 0, 0, 0.9);
    color: #D9D9D9;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
}

.dropdown-menu-small {
    left: -180% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
}

.list-custom-1 {
    background-color: rgba(0, 0, 0, 0.9);
    color: #D9D9D9;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 20px;
}

.topped-margin {
    height: 60px;
}

.main-content {
    width: 94%;
    margin-top: 20px;
    margin-left: 60px;
}

.bigletters {
    text-transform: uppercase;
}


/* .strilka-right {
    margin-right: 100px;
} */


/* .strilka-left {
    margin-left: -80px;
} */

.strilka-right-last {
    margin-right: 120px !important;
    margin-top: 45px;
}

.strilka-left-last {
    margin-left: -80px;
    margin-top: 45px;
}

.grblock-top {
    box-shadow: -100px 0px 200px -20px white;
    color: white;
    padding-left: 0;
    margin-left: 0;
    margin-top: -200px !important;
    margin-left: 5px;
}

.grblock-middle {
    box-shadow: -100px 0px 200px -20px white;
    color: white;
    padding-left: 0;
    margin-left: 0;
    margin-top: -200px !important;
    margin-left: 10px;
}

.grblock {
    box-shadow: -100px 0px 200px -20px white;
    color: white;
    padding-left: 0;
    margin-left: 0;
    margin-top: -170px !important;
    margin-left: -10px;
}

.green-rect {
    box-shadow: -100px -20px 200px 0 10px white;
    position: absolute;
    background: #AFFA4D;
    width: 100px;
    height: 100px;
    margin-left: -80px;
    z-index: 1;
}

.red-rect {
    box-shadow: -100px -20px 200px 10px white;
    /* margin-top: 100px; */
    position: absolute;
    background: #F73C52;
    /* margin-left: -80px; */
    width: 100px;
    height: 100%;
    top: 0;
    right: -100px;
    z-index: 1;
}

.lineunder {
    border: none;
    background-color: black;
    color: black;
    height: 2px;
    width: 70px;
}

.sportmenu-images-last {
    padding-right: -50px;
}

.scale-allow {
    /* padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 5px; */
}

.carrot-block {
    margin-top: 10px;
}

.otstup {
    height: 10px;
}

.prod-rect {
    background-color: black;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 9px;
    margin-top: -10px;
    text-transform: uppercase;
    color: #D9D9D9;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    font-size: 7px;
    box-shadow: 0 4px 50px -2px rgba(0, 0, 0, 0.8);
}

.produces img {
    width: 35px;
    height: 35px;
    box-shadow: 0 10px 35px -3px rgba(0, 0, 0, 0.8);
}

.choosed-dishes {
    margin-top: 170px;
}

.fa-minus-circle {
    margin-left: 30px;
}

.upsalad {
    margin-top: 10px;
}

.minuses-block {
    margin-top: 12px;
    margin-left: -20px;
}

.days-menu {
    width: 98%;
}

.travneve {
    /* margin-top: 25px; */
    /* margin-left: -15px !important; */
    /* margin-bottom: -10px; */
    font-size: 22px;
    /* margin-left: -19px; */
}

.na-lito {
    margin-top: 25px;
    margin-left: -15px !important;
    margin-bottom: -10px;
    font-size: 22px;
    margin-left: -19px;
}

.last-i-ever-do {
    margin-bottom: -30px;
}

.zozh {
    margin-top: 25px;
    margin-left: -15px !important;
    margin-bottom: -10px;
    font-size: 22px;
    margin-left: -19px;
}

.snidanok {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 22px;
    margin-left: -19px;
}

.margin-sportmenu {
    margin-left: 10px;
}

.last-sportmenu {
    margin-left: -5px;
    padding-left: 0 !important;
}

.salat-na-snidanok {
    line-height: 20px;
    font-weight: 800;
    padding-right: 0px !important;
    padding-left: 15px !important;
    padding-top: 7px;
}

.left-col-sportmenu {
    margin-right: -5px !important;
}

.left-col-sportmenu-last {
    margin-left: -15px !important;
}

.sportmenu-otstup {
    height: 127px;
}

.sportmenu-insider {
    height: 180px;
}

.sportmenu-insider p {
    font-size: 8px;
}

.sportmenu-stars {
    font-size: 14px;
    padding-right: 0 !important;
    margin: 0 !important;
    padding-left: 0 !important;
}

.sportmenu-otstup-stars {
    height: 142px;
}

.sportmenu-ingridients {
    padding: 0 !important;
    margin-bottom: -10px;
    display: none;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.sportmenu-preparing {
    padding: 0 !important;
    margin-bottom: -15px !important;
    word-wrap: break-word;
    display: none;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.sportmenu-plus {
    font-size: 14px;
    margin: 0 !important;
    margin-left: auto !important;
}

.left-col-sportmenu {
    margin-bottom: -20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.right-col-sportmenu {
    padding-top: 10px;
    padding-right: 10px;
}

.left-col-sportmenu .mt-auto {
    font-size: 14px;
}

.left-col-sportmenu .mt-auto .fa-clock {
    font-size: 16px;
}

.sportmenu-images {
    height: 200px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/img/sportmenu.jpg);
    color: white;
    overflow: hidden;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.sportmenu-images:hover {
    background-image: linear-gradient(white, white), url(assets/img/sportmenu.jpg);
    transform: scale(1.1);
    z-index: 3;
    box-shadow: 0 0px 60px -10px rgba(0, 0, 0, 0.8);
}

.sportmenu-images:hover .sportmenu-ingridients,
.sportmenu-images:hover .sportmenu-preparing {
    display: block;
    color: black;
}

.sportmenu-images:hover .sportmenu-stars,
.sportmenu-images:hover .sportmenu-plus {
    color: black;
}

.sportmenu-images:hover .sportmenu-otstup-stars {
    display: none;
}

.sportmenu-images:hover .left-col-sportmenu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/img/sportmenu.jpg);
    color: white;
}

.sportmenu-images .last-sportmenu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/img/sportmenu.jpg);
    transform: scale(1);
}

.last-sportmenu:hover {
    position: relative;
    z-index: 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/img/sportmenu.jpg);
}

.sportmenu-images-last {
    height: 200px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/img/sportmenu.jpg);
    color: white;
    overflow: hidden;
}

.sportmenu-images-last:hover {
    transform: scale(1);
}

.snidanok-time {
    position: relative;
    z-index: 2;
    margin-left: 42px;
}

.register-button {
    border-radius: 20px !important;
    margin-top: 300px !important;
    font-size: 10px !important;
    padding-left: -10px !important;
    padding-right: -10px !important;
}

.left-sidebar {
    padding-left: -5px !important;
    box-shadow: 100px 50px 250px 120px white;
}

.left-sidebar .fa-clock {
    font-size: 18px;
}

.dream {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.dream .fa-minus-circle {
    margin-left: 15px;
}

.zdo {
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top: 320px;
    height: 50px;
}

.zdo .fa-plus-circle {
    margin-left: 5px;
}

.eating {
    margin-top: 20px;
    font-weight: 500;
}

.eating span {
    margin-left: 20px;
    color: #8E8E8E;
}

.rekomendovano {
    margin-top: 3px;
    font-size: 10px;
}

.carousel-control-next {
    opacity: 1 !important;
}

.fa-trash-alt:hover {
    cursor: pointer;
}

.carousel-control-next .carousel-control-next-icon {
    opacity: .5 !important;
}

.carousel-control-next .carousel-control-next-icon:hover {
    opacity: 1 !important;
}

.eggs ul li {
    font-size: 10px;
}