<!-- Start LP -->
<!-- START NAVIGATION -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white" id="main-navigation">
    <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="Logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-md-auto mr-lg-auto mr-xl-auto">
            <li class="nav-item">
                <a class="nav-link" href="#description">Про сервіс</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">Можливості</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#advantages">Переваги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#app">Додатки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#partners">Партнери</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto ml-lg-auto ml-xl-auto d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup">Зареєструватись</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signin" href="#">Увійти</a>
            </li>
        </ul>

    </div>
</nav>
<!-- END NAVIGATION -->

<!-- START HEADER -->
<header>
    <div class="container">
        <div class="col-12 col-lg-6 col-xl-6 mx-auto text-center text-block">
            <img src="assets/img/foodle.png" alt="Foodle logo">
            <h1 class="sub-name">смачно для кожного</h1>
            <p class="description">
                Сервіс, що турбується про найвибагливіших користувачів
            </p>
            <i class="fa fa-chevron-down"></i>
        </div>
    </div>
</header>
<!-- END HEADER -->

<!-- START DESCRIPTION -->
<section id="description">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-6 d-flex align-items-center">
                <div class="main-text">
                    <h1 class="text-center text-lg-left text-xl-left">Наша місія</h1>
                    <p class="descritpion-text text-center text-lg-right text-xl-right">
                        Ми прагнемо якомога більше спростити життя людям, які відносяться до свого харчування серйозно. Одне тільки приготування їжі іноді відбирає забагато часу, тому шкода витрачати його ще й на пошук нових рецептів, які б відповідали вашим смакам. Ми вважаємо,
                        що, дотримуючись дієти, кожного разу шукати калорійність та кількість нутрієнтів - неприйнятно. Користуючись Foodle, вам більше ніколи не доведеться витрачати час на такі дурниці.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-6">
                <div class="video">
                    <iframe class="w-100" height="315" src="https://www.youtube.com/embed/xyQY8a-ng6g?controls=0"></iframe>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-2 col-xl-2 mx-auto pt-4">
                <a class="btn sign-up-btn d-block" href="#">Зареєстуватися</a>
            </div>
        </div>
    </div>
</section>
<!-- END DESCRIPTION -->

<!-- START FEATURES -->
<section id="features">
    <div class="container">
        <h1 class="text-center">Меню для спеціальних потреб</h1>
        <ul class="nav nav-pills pb-5 d-flex justify-content-around justify-content-md-between justify-content-lg-between justify-content-xl-between" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">Цукровий діабет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Серцево-судинні захворювання</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">Спортивне харчування</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false">Здорове харчування</a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div>
                            <img class="w-100 d-block mx-auto" src="assets/img/1.jpg" alt="Girl">
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div class="text">
                            <p>Дотримання дієти - одна з головних складових лікування діабету. Надзвичайно важливо обмежувати кількість вуглеводів у вашому раціоні, і це те, з чим наш сервіс вам допоможе. Ми не тільки порекомендуємо до споживання певні продукти
                                та денну норму нутрієнтів, а й запропонуємо конкретні страви на будь-який смак.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div>
                            <img class="w-100 d-block mx-auto" src="assets/img/2.jpg" alt="Girl">
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div>
                            <p> Серцево-судинні захворювання є найбільш частою причиною смерті у світі, і харчування відіграє ключову роль у попередженні летальних випадків. Пошук страв з низьким вмістом простих вуглеводів та тваринних жирів більше не буде
                                займати таку кількість часу, за яку ви могли б цю страву з'їсти. Просто вкажіть у профайлі вашу хворобу, і ми підберемо страви для вас.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div>
                            <img class="w-100 d-block mx-auto" src="assets/img/3.jpg" alt="Girl">
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div>
                            <p>Якщо ви займаєтесь спортом, то головною проблемою зазвичай є набір маси без значного збільшення жиру. При цьому важливо розділяти харчування на 5-6 прийомів за день. Це потребує великої кількості страв, якщо ви не хочете їсти
                                те саме цілий тиждень. Наш сервіс надає можливість спланувати меню на цілий тиждень та вказує кількість необхідних продуктів.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div>
                            <img class="w-100 d-block mx-auto" src="assets/img/4.jpg" alt="Girl">
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div>
                            <p>Якщо ви нічим не хворієте, вам не потрібно набирати масу, але є бажання підтримувати форму, харчуватися смачною та здоровою їжею - вітаємо! Ви потрапили туди, куди потрібно. Ми пропонуємо широкий вибір страв для різних популярних
                                дієт, наприклад: Середземноморська, Аткінса чи навіть Вегетаріанська.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES -->

<!-- START EXAMPLES -->
<section id="examples">
    <div class="container">
        <h2 class="text-left">Приклади страв для діабетиків</h2>
        <div class="row text-center justify-content-center">
            <div class="darkened1 col-12 col-sm-6 col-lg-3"><span><h4 class="insider-black">Суп овочевий</h4><p class="insider-black">Бульйон яловичий, Цибуля ріпчаста, Морква, Капуста білокачанна, Болгарський перець, Помідори, Корінь петрушки, Приправи, Сіль</p></span></div>
            <div class="darkened2 col-12 col-sm-6 col-lg-3"><span><h4 class="insider-black">Овочеве рагу з кабачків</h4><p class="insider-black">Кабачки, Морква, Помідори, Капуста цвітна, Цибуля ріпчаста, Зелень</p></span></div>
            <div class="darkened3 col-12 col-sm-6 col-lg-3"><span><h4 class="insider-black">Тріска запечена</h4><p class="insider-black">Тріска, Лимонний сік, Сіль, Перець</p></span></div>
            <div class="darkened4 col-12 col-sm-6 col-lg-3"><span><h4 class="insider-black">Дієтична буженина</h4><p class="insider-black">Яловича вирізка, Часник, Сіль, Перець, Гвоздика, Мускатний горіх</p></span></div>
        </div>
    </div>
</section>
<!-- END EXAMPLES -->

<!-- START Advantages -->
<section id="advantages">
    <div class="container">
        <h1 class="text-center">Переваги</h1>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 border-lg-right border-lg-bottom border-xl-right border-xl-bottom">
                <div class="text-center ">
                    <i class="fa fa-cogs"></i>
                    <h4>персоналізація</h4>
                    <p>Foodle - не просто "ще один сайт зі стравами". Ми пропонуємо страви тільки з тими інгрідієнтами, які вам подобаються та виключаємо ті, на які у вас може бути алергія чи інша негативна реакція.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4  border-lg-right border-lg-bottom border-xl-right border-xl-bottom">
                <div class="text-center">
                    <i class="fa fa-space-shuttle" aria-hidden="true"></i>
                    <h4>складаємо меню на тиждень</h4>
                    <p>Планування меню - дуже важлива річ, якщо ви зайнята людина, спортсмен або маєте проблеми зі здоров'ям. З Foodle вам не потрібно пам'ятати які страви на який день ви запланували та рахувати, скільки продуктів треба купити.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 border-lg-right border-xl-right">
                <div class="text-center">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <h4>рахуємо нутрієнти</h4>
                    <p>Набридло шукати, скільки білків, жирів чи вуглеводів містить якийсь інгрідієнт? Ми зробимо це за вас і надамо загальну кількість нутрієнтів у страві, яку ви обрали.</p>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- END Advantages -->

<!-- START APP -->
<section id="app">
    <div class="container">
        <h1 class="text-center">Додаток</h1>
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <img class="product-img" src="assets/img/iphones.png" alt="iphones">
            </div>
            <div class="col-lg-8 col-xl-8 d-flex flex-column justify-content-center">
                <p class="app-text text-center text-lg-right text-xl-right">
                    Трішки про наш додаток - основний продукт для користувача. Зручний та красивий, зрозумілий та функціональний це все можна сказати про будь-який додаток в App Store чи Google Play. Та ми готуємо для вас дещо особливе, щось нове та цікаве, з новими можливостями
                    та функціями! Зараз він знаходиться на стадії розробки, але коли його буде дороблено, ми здивуємо вас!<br> *Радимо підписатися на сповіщення про вихід бета версії
                </p>
                <div class="store-icons d-flex justify-content-center">
                    <a class="btn d-block app-store" href="https://www.appstore.com/"><img class="w-100" src="assets/img/appstore.png" alt=""></a>
                    <a class="btn d-block ml-5 play-market" href="https://play.google.com/store/apps?hl=ru"><img class="w-100" src="assets/img/playmarket.png" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- END APP -->

<!-- START PARTNERS -->
<section id="partners">
    <div class="container">
        <h1 class="text-center">Партнери</h1>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                <img class="w-100 d-block mx-auto" src="assets/img/branding.png" alt="">
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                <img class="w-100 d-block mx-auto" src="assets/img/branding.png" alt="">
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                <img class="w-100 d-block mx-auto" src="assets/img/branding.png" alt="">
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                <img class="w-100 d-block mx-auto" src="assets/img/branding.png" alt="">
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                <img class="w-100 d-block mx-auto" src="assets/img/branding.png" alt="">
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                <img class="w-100 d-block mx-auto" src="assets/img/branding.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- END PARTNERS -->


<!-- START FOOTER -->
<footer>
    <div class="container-fluid page-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <ul class="navmen text-center text-md-left">
                        <li><a href="index.html#description">Про сервіс</a></li>
                        <li><a href="index.html#features">Можливості</a></li>
                        <li><a href="index.html#advantages">Перeваги</a></li>
                        <li><a href="index.html#app">Додатки</a></li>
                        <li><a href="index.html#partners">Партнери</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-5 col-lg-6 button-block-f">
                    <ul>
                        <li class="button-f d-flex justify-content-center justify-content-md-start"><a class="nav-link sign-up-btn-f" href="#">Зареєструватися</a></li>
                        <li class="button-f d-flex justify-content-center justify-content-md-start"><a class="nav-link sign-in-btn-f" href="#">Увійти</a></li>
                    </ul>
                </div>
                <div class="downloads-f col-12 col-md-1 d-flex justify-content-center justify-content-md-start">
                    <ul>
                        <li class="appstore-f">
                            <a href="#"><img src="assets/img/appstore-white.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/img/playmarket-white.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="copyright">ALL RIGHTS RESERVED.<br>COPYRIGHT © 2018<br>ANDREW SAWHIKES.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
<!-- End LP -->