<!-- <navbar></navbar> -->
<section class="section-signin mt-5">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <h1 class="text-center text-uppercase">Реєстрація</h1>
                <form [formGroup]='form' (ngSubmit)='save()' novalidate>
                    <div class="form-group d-flex align-items-end justify-content-between">
                        <label class="mb-0" for="user-name">Ім'я:</label>
                        <input type="text" class="form-control" id="user-name" formControlName='name' [(ngModel)]="register.username" placeholder="username">
                    </div>
                    <!-- Name errors showcase -->
                    <div *ngIf="name.invalid && (name.dirty || isSubmitted)" class="form-group text-danger">
                        <p *ngIf="name.errors.required">
                            Name is required.
                        </p>
                        <p *ngIf="name.errors.minlength">
                            Name must be at least 4 characters long.
                        </p>
                        <p *ngIf="name.errors.maxlength">
                            Name must not exceed 15 characters.
                        </p>
                    </div>
                    <div *ngIf="name.invalid && (name.dirty || isSubmitted)" class="form-group text-danger">
                        <p *ngIf="name.errors.required">
                            Name is required.
                        </p>
                        <p *ngIf="name.errors.minlength">
                            Name must be at least 4 characters long.
                        </p>
                        <p *ngIf="name.errors.maxlength">
                            Name must not exceed 15 characters.
                        </p>
                    </div>

                    <div class="form-group d-flex align-items-end justify-content-between">
                        <label class="mb-0" for="last_name">Прізвище:</label>
                        <input type="text" class="form-control" id="last_name" formControlName='last_name' [(ngModel)]="register.last_name" placeholder="last_name">
                    </div>
                    <!-- Name errors showcase -->
                    <div *ngIf="last_name.invalid && (last_name.dirty || isSubmitted)" class="form-group text-danger">
                        <p *ngIf="last_name.errors.required">
                            Last_name is required.
                        </p>
                        <p *ngIf="last_name.errors.minlength">
                            Last_name must be at least 4 characters long.
                        </p>
                        <p *ngIf="last_name.errors.maxlength">
                            Last_name must not exceed 15 characters.
                        </p>
                    </div>
                    <div *ngIf="last_name.invalid && (last_name.dirty || isSubmitted)" class="form-group text-danger">
                        <p *ngIf="last_name.errors.required">
                            Last_name is required.
                        </p>
                        <p *ngIf="last_name.errors.minlength">
                            Last_name must be at least 4 characters long.
                        </p>
                        <p *ngIf="last_name.errors.maxlength">
                            Last_name must not exceed 15 characters.
                        </p>
                    </div>


                    <div class="form-group d-flex align-items-end justify-content-between">
                        <label class="mb-0" for="e-mail">E-mail:</label>
                        <input type="email" class="form-control" id="e-mail" formControlName='email' [(ngModel)]="register.email" placeholder="email">
                    </div>
                    <!-- Email erros showcase -->
                    <div class="form-group text-danger" *ngIf="email.invalid && (email.dirty || isSubmitted)">
                        <p *ngIf="email.errors.required">
                            Email is required.
                        </p>
                        <p *ngIf="email.errors.pattern">
                            Enter a valid email
                        </p>
                    </div>

                    <div class="form-group d-flex align-items-end justify-content-between">
                        <label class="mb-0" for="password">Пароль:</label>
                        <input type="password" class="form-control" id="password" formControlName='password' [(ngModel)]="register.password" placeholder="password">
                    </div>
                    <!-- Password errors showcase -->
                    <div class="form-group text-danger" *ngIf="password.invalid && (password.dirty || isSubmitted)">
                        <p *ngIf="password.errors.required">
                            Password is required.</p>
                        <p *ngIf="password.errors.minlength">
                            Name must be at least 6 characters long.
                        </p>
                        <p *ngIf="password.errors.maxlength">
                            Name must not exceed 15 characters.
                        </p>
                    </div>

                    <!-- Захворювання -->
                    <div class="form-group d-flex align-items-end justify-content-between">
                        <label class="mb-0" for="disease">Захворювання:</label>
                        <select class="form-control" formControlName="disease">
                            <option value="">Оберіть Захворювання:</option>
                            <option *ngFor="let disease of diseases" [value]="disease">{{ disease.name }}</option>
                        </select>
                    </div>
                    <!-- disease errors showcase -->
                    <div *ngIf="disease.invalid && (disease.dirty || isSubmitted)" class="form-group text-danger">
                        <p *ngIf="disease.errors.required">
                            Disease is required.
                        </p>
                    </div>
                    <!-- Алергія -->
                    <div class="form-group d-flex align-items-end justify-content-between">
                        <label class="mb-0" for="allergy">Алергія: </label>
                        <select class="form-control" formControlName="allergy">
                            <option value="">Оберіть Алегрію</option>
                            <option *ngFor="let allergie of allergies" [value]="allergie">{{ allergie.name }}</option>
                        </select>
                    </div>
                    <!-- allergy errors showcase -->
                    <div *ngIf="allergy.invalid && (allergy.dirty || isSubmitted)" class="form-group text-danger">
                        <p *ngIf="allergy.errors.required">
                            Allergy is required.
                        </p>
                    </div>
                    <!-- Кухня -->
                    <div class="form-group d-flex align-items-end justify-content-between">
                        <label class="mb-0" for="сuisine">Кухня: </label>
                        <select class="form-control" formControlName="cuisine">
                            <option value="">Оберіть кухню</option>
                            <option *ngFor="let cuisine of cuisines" [value]="cuisine">{{ cuisine.name }}</option>
                        </select>
                    </div>
                    <!-- кухня errors showcase -->
                    <div *ngIf="cuisine.invalid && (cuisine.dirty || isSubmitted)" class="form-group text-danger">
                        <p *ngIf="cuisine.errors.required">
                            Cuisine is required.
                        </p>
                    </div>
                    <button type="submit" class="btn mx-auto d-block mt-4 " (click)="registerUser()">Зареєструватись</button>
                </form>
            </div>
        </div>
    </div>
</section>